.table {
  border: 1px solid gray;
}

.table .header {
  background: gray;
  color: white;
}

.table > div {
  display: flex;
}

.table > div:not(.header):hover {
  background: silver;
}

.table > div > div {
  flex: 1;
}

.table > div > div.id {
  flex: 0.25;
}

.table > div > div.lastName {
  flex: 0.5;
}

.debugTable {
  max-width: 500px;
}

.debugTable > div > div.first {
  flex: 0.1;
}

.debugTable > div > div.second {
  flex: 0.2;
}

.debugTable > div > div.third {
  flex: 0.4;
}

.debugTable > div > div.fourth {
  flex: 0.3;
}

.partWidthTable {
  border-left: 600px solid salmon;
}

@media (max-width: 1000px) {
  .partWidthTable {
    border-left: 400px solid salmon;
  }
}

@media (max-width: 800px) {
  .partWidthTable {
    border-left: 250px solid salmon;
  }
}

@media (max-width: 600px) {
  .partWidthTable {
    border-left: none;
  }
}
