body {
  margin: 0;
}

.table {
  border: 1px solid gray;
}

.table .header {
  background: gray;
  color: white;
}

.table > div {
  display: flex;
}

.table > div:not(.header):hover {
  background: silver;
}

.table > div > div {
  flex: 1;
}

.table > div > div:nth-child(1) {
  /* Simulate columns of various widths to prove the algorithm works for any width */
  flex: 0.25;
}

.table > div > div:nth-child(3) {
  /* Simulate columns of various widths to prove the algorithm works for any width */
  flex: 0.5;
}

#fullWidthTable {
  margin: 1em;
}

#partWidthTable {
  display: flex;
  margin: 1em;
}

#partWidthTable .pane {
  background: salmon;
  width: 600px;
}

@media (max-width: 1000px) {
  #partWidthTable .pane {
    width: 400px;
  }
}

@media (max-width: 800px) {
  #partWidthTable .pane {
    width: 250px;
  }
}

@media (max-width: 600px) {
  #partWidthTable .pane {
    display: none;
  }
}

#partWidthTable .table {
  flex: 1;
}
