.table {
  border: 1px solid gray;
}

.table .header {
  background: gray;
  color: white;
}

.table > div {
  display: flex;
}

.table > div:not(.header):hover {
  background: silver;
}

.table > div > div {
  flex: 1;
}

.debugTable {
  max-width: 500px;
}

.partWidthTable {
  margin-left: 600px;
}

@media (max-width: 1000px) {
  .partWidthTable {
    margin-left: 400px;
  }
}

@media (max-width: 800px) {
  .partWidthTable {
    margin-left: 250px;
  }
}

@media (max-width: 600px) {
  .partWidthTable {
    margin-left: 0;
  }
}
